body {
  background-color: lightblue;
  margin: 0px;
  padding: 0px;
}
header {
  width: 960px;
  border-style: solid;
  border-width: 4px;
  background-color: blue;
  padding-top: .5em;
}
h1 {
  color: white;
  font-size: 80px;
  text-align: center;
}
p {
  color: white;
  font-size: 20px;
  text-align: center;
}
