#container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 8.5em;
  vertical-align: middle;
  
}

/* Used blue and white colors because it is a famous pattern on classic and modern race/road sports cars like the Shelby Cobra,
Mustang, Viper, and more */

body {
  background-color: lightblue;
  margin: 0px;
  padding: 0px;
}
header {
  max-width: 960px;
  width: 800px;
  border-style: solid;
  border-color: white;
  border-width: 4px;
  background-color: darkblue;
  flex-grow: 1 0;
  justify-content: center;
  vertical-align: middle;
  min-height: 8.5em;
}

#left {
    width: 400px;
    padding: 4px;
    border: 4px solid white;
    background-color: darkblue;
    color: white;
    font-family: 'Playfair Display', serif;
    margin: 0;
    text-align: left;
}    

#right {
  width: 485px;
   border: 4px solid white;
   height: 400px;
   /* was 322 */
    background-color: darkblue;
    color: white;
    font-family: 'Playfair Display', serif;
    margin: 0;
    text-align: left;
    vertical-align: middle;
    justify-content: right;
}


#right:before {
    background-color: lightblue;
    bottom: -2.5em; hsla(0,0%,100%,.2),
                inset 0 -2px 1px hsla(0,0%,0%,.4),
                0 5px 50px hsla(0,0%,0%,.25),
                0 20px 20px -15px hsla(0,0%,0%,.2),
                0 30px 20px -15px hsla(0,0%,0%,.15),
                0 40px 20px -15px hsla(0,0%,0%,.1);
    content: '';
  justify-content: right;
    left: -2.5em;
    position: absolute;
    right: -2.5em;
    top: -2.5em;
    z-index: -1;
}
#right:after {
    background-color: lightblue;
    bottom: -1.5em;
    box-shadow:  hsla(0,0%,100%,.2),
                0 -1px 1px 1px hsla(0,0%,0%,.4),
                inset 0 2px 3px 1px hsla(0,0%,0%,.2),
                inset 0 4px 3px 1px hsla(0,0%,0%,.2),
                inset 0 6px 3px 1px hsla(0,0%,0%,.1);
    content: '';
    left: -1.5em;
    position: absolute;
    right: -1.5em;
    top: -1.5em;
    z-index: -1;
}
#right li {
    box-shadow: 0 -1px 0 2px hsla(0,0%,0%,.03);
    list-style: none;
    position: absolute;
}
#right input {
    display: none;
}
#right label {
    background-color: lightblue;
    background-image: linear-gradient(transparent, hsla(0,0%,0%,.25));
    border: .2em solid transparent;
    bottom: .5em;
    border-radius: 100%;
    cursor: pointer;
    display: block;
    height: .5em;
    left: 24em;
    opacity: 0;
    position: absolute;
    transition: .25s;
    width: .5em;
    visibility: hidden;
    z-index: 10;
}
#right label:after {
    border-radius: 100%;
    bottom: -.2em;
    box-shadow: inset 0 0 0 .2em #111,
                inset 0 2px 2px #000,
                0 1px 1px hsla(0,0%,100%,.25);
    content: '';
    left: -.2em;
    position: absolute;
    right: -.2em;
    top: -.2em;
}
#right:hover label {
    opacity: 1;
    visibility: visible;
}
#right input:checked + label {
    background-color: blue;
}
#right:hover li:nth-child(1) label {
    left: .5em;
}
#right:hover li:nth-child(2) label {
    left: 2em;
}
#right:hover li:nth-child(3) label {
    left: 3.5em;
}
#right:hover li:nth-child(4) label {
    left: 5em;
}

#right img {
    height: 322px;
    opacity: 0;
    transition: .25s;
    width: 485px;
    vertical-align: top;
    visibility: hidden;
}
#right li input:checked ~ img {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}



#main {
   max-width: 960px;
  flex-grow: 1;
  min-height: 8.5em;
  display: flex;
}

h1 {
  color: white;
  font-size: 70px;
  font-family: 'Playfair Display', serif;
  text-align: center;
  vertical-align: middle;
}
p {
  color: white;
  font-size: 12px;
  font-family: 'Playfair Display', serif;
  text-align: center;
  vertical-align: middle;
}

nav {
  width: 100%;
}
ul#menu {
    padding: 15px;
    justify-content: center;
}

ul#menu li {
    display: inline;
}

ul#menu li a {
    background-color: darkblue;
    color: white;
    padding: 16px 122px;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Playfair Display', serif;
    border-radius: 20px 20px 0 0;
}

ul#menu li a:hover {
    background-color: blue;
}

/* CSS reset */
body,div,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
    margin:0;
    padding:0;
}
html,body {
    margin:0;
    padding:0;
}
/* Extra options you might want to consider*/

table {
    border-collapse:collapse;
    border-spacing:0;
}
fieldset,img { 
    border:0;
}
input{
    border:1px solid #b0b0b0;
    padding:3px 5px 4px;
    color:#979797;
    width:190px;
}
address,caption,cite,code,dfn,th,var {
    font-style:normal;
    font-weight:normal;
}
ol,ul {
    list-style:none;
}
caption,th {
    text-align:center;
}
q:before,q:after {
    content: '';
}
abbr,acronym { 
    border:0;
}

